In [ ]:
import pandas as pd
import numpy as np

In [46]:
file_path = "/workspaces/nexus/data/world/csv/world_migration_time_1995.csv"
dictionary_path = "/workspaces/nexus/data/world/csv/world_dictionary.csv"
df = pd.read_csv(file_path)
dictionary = pd.read_csv(dictionary_path)

The first step for my is getting this data into a format that's more easily digestible.
The formatting is initally as an incredibly sparse matrix, but I'm more interested in representing the data as a series of vectors.

In [47]:
column_mappings = {
    "Country_name": "country",
    "Official state name": "state_name",
    "Sovereignty": "sovereign",
    "Alpha-2 code": "country_code_2",
    "Alpha-3 code": "country_code_3",
    "Numeric code":"numeric_code",
    "Subdivision code links":"subdivision",
    "Internet ccTLD":"internet",
    "Unnamed: 0": "source"
}

df.rename(
    columns = column_mappings,
    inplace= True
)

dictionary.rename(
    columns = column_mappings,
    inplace= True
)

df.set_index('source', inplace=True)
df

,ABW,AFG,AGO,ALB,ARE,ARG,ARM,ATG,AUS,AUT,...,VCT,VEN,VIR,VNM,VUT,WSM,YEM,ZAF,ZMB,ZWE
source,,,,,,,,,,,,,,,,,,,,,
ABW,0,0,0,0,0,1,0,2,36,2,...,15,337,78,0,0,0,0,0,0,0
AFG,0,0,0,0,501,4,0,0,5859,801,...,0,0,0,0,0,0,0,7,0,0
AGO,0,0,0,0,0,2,0,0,41,21,...,0,19,0,0,0,0,0,1957,21090,0
ALB,0,0,0,0,0,21,1,0,261,212,...,0,3,0,0,0,0,0,22,0,0
ARE,1,233,0,1,0,2,1,1,1157,60,...,0,6,0,83,0,0,6610,99,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,0,0,0,0,0,0,0,0,4742,0,...,0,0,0,0,1,0,0,0,0,0
YEM,0,0,0,0,31178,0,0,0,253,28,...,0,1,0,0,0,0,0,24,0,0
ZAF,0,3,1801,8,16,122,0,5,10042,460,...,0,41,0,14,0,0,7,0,1265,6123
ZMB,0,0,34358,0,96,0,0,1,934,16,...,0,1,0,4,0,0,0,8064,0,4249
ZWE,0,0,512,0,1,10,0,9,18158,222,...,4,37,0,71,0,0,0,276684,5573,0

In [48]:
def matrix_to_vectors(input_matrix):
    input_matrix = input_matrix.stack()
    # Create arrays for x, y, and values
    x = input_matrix.index.get_level_values(0).to_numpy()  # Row indices
    y = input_matrix.index.get_level_values(1).to_numpy()  # Column indices
    values = input_matrix.to_numpy()  # Values

    tensors = np.array([x, y, values]).T
    return tensors

In [49]:
matrix_to_vectors(df)

array([['ABW', 'ABW', 0],
       ['ABW', 'AFG', 0],
       ['ABW', 'AGO', 0],
       ...,
       ['ZWE', 'ZAF', 276684],
       ['ZWE', 'ZMB', 5573],
       ['ZWE', 'ZWE', 0]], shape=(40000, 3), dtype=object)